@font-face { 
	font-family: Route; src: url(Route.woff);
}

div.absolute {
	background:        url('/woaar/yes.png') repeat-y bottom;
}
span.absolute {
	background:        url(/pics/item.jpeg) repeat-y bottom;
}
div.absolute .abc {
	background:        url("/img/a/img.png") repeat-y bottom;
}
div.relative {
	background:        url(../img/layout/warehouse.png) repeat-y bottom;
}